<div class="container">
  <h3 class="center">
    Latest Posts
  </h3>
  <div class="cards">
  {{#each posts as |post|}}
    <div id="{{post.id}}" class="large-card mt-4 p-3 bg-primary text-white rounded w-40 m-3">
      <div class="d-flex justify-content-between">
        <span class="blog-title">{{post.title}}</span>
        <span class="blog-date align-self-center">Created by {{post.author}} on {{format_date post.createdAt}}</span> 
      </div>
      <div class="blog-text">
        <p>
          {{post.content}}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<script src="/js/homepage.js"></script>
